.header{
    display: flex;
    width: 100%;
    padding: 20px 55px;
    box-sizing: border-box;
    align-items: center;
    /* text-align: center; */
    justify-content: space-between;
    background-color:#ffebfa;
    border-bottom: 1px solid #f1dbea;
    

}


.logo{
    font-size: 26px;
    font-weight: 700;
    color:  #f45ba8;

}

.nav{
    display: flex;
    /* justify-content: center; */
    gap: 20px;

}

.nav a{
    color: #943167;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;

}

.nav a:hover{

    color: #f45ba8;

}