.hero{
    display: flex;
    min-height: 500px;
    padding: 80px 10%;
    align-items: center;
    background: transparent;
}
.conteudo{
max-width: 700px;

}

.destaque{
color: #f45ba8;
font-weight: 700;
font-size: 15px;
letter-spacing: 1px;


}

h1{
    margin: 15px 0;
    font-size: 64px;
    line-height: 1.05;
    color: #350035;
}

h1 span{
    display: block;
    color: #f45ba8;
}

.descricao{
max-width: 600px;
font-size: 18px;
line-height: 1.6;
color: #5c0048;
}

.botao{
display: inline-block;
margin-top:25px ;
padding: 14px 24px;
background-color: #f45ba8;
border-radius: 30px;
color: white;
text-decoration: none;
font-weight: 600;
transition: 0.3s;

}

.botao:hover{
transform: translateY(-3px);


}